body {
  background-color: #d3dbe8
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* App.jsxÏùò css */
    .wrap {
      display: flex;
      flex-direction: column;
      width: 1400px;
      margin: 0 auto;
    }
  
    .main1 {
      display: flex;
    }
    .main2{
     display:flex;
    }